In [1]:
from mlxtend.preprocessing import TransactionEncoder
from mlxtend.frequent_patterns import apriori, association_rules
import pandas as pd

In [2]:
dataset = [
    ["Milk", "Onion", "Nutmeg", "Kidney Beans", "Eggs", "Yogurt"],
    ["Dill", "Onion", "Nutmeg", "Kidney Beans", "Eggs", "Yogurt"],
    ["Milk", "Apple", "Kidney Beans", "Yogurt"],
    ["Milk", "Unicorn", "Corn", "Kidney Beans", "Yogurt"],
    ["Corn", "Onion", "Onion", "Kidney Beans", "Ice Cream", "Eggs"],
]

In [3]:
te = TransactionEncoder()
te_ary = te.fit(dataset).transform(dataset)
te_ary

array([[False, False, False,  True, False,  True,  True,  True,  True,
        False,  True],
       [False, False,  True,  True, False,  True, False,  True,  True,
        False,  True],
       [ True, False, False, False, False,  True,  True, False, False,
        False,  True],
       [False,  True, False, False, False,  True,  True, False, False,
         True,  True],
       [False,  True, False,  True,  True,  True, False, False,  True,
        False, False]])

In [4]:
df = pd.DataFrame(te_ary, columns=te.columns_)
df

,Apple,Corn,Dill,Eggs,Ice Cream,Kidney Beans,Milk,Nutmeg,Onion,Unicorn,Yogurt
0,False,False,False,True,False,True,True,True,True,False,True
1,False,False,True,True,False,True,False,True,True,False,True
2,True,False,False,False,False,True,True,False,False,False,True
3,False,True,False,False,False,True,True,False,False,True,True
4,False,True,False,True,True,True,False,False,True,False,False

In [5]:
apriori(df, min_support=0.6)
frequent_items = apriori(df, min_support=0.6, use_colnames=True)
frequent_items["length"] = frequent_items["itemsets"].apply(lambda x: len(x))
frequent_items

    support                      itemsets  length
0       0.6                        (Eggs)       1
1       1.0                (Kidney Beans)       1
2       0.6                        (Milk)       1
3       0.6                       (Onion)       1
4       0.8                      (Yogurt)       1
5       0.6          (Kidney Beans, Eggs)       2
6       0.6                 (Onion, Eggs)       2
7       0.6          (Milk, Kidney Beans)       2
8       0.6         (Onion, Kidney Beans)       2
9       0.8        (Kidney Beans, Yogurt)       2
10      0.6                (Milk, Yogurt)       2
11      0.6   (Onion, Kidney Beans, Eggs)       3
12      0.6  (Milk, Kidney Beans, Yogurt)       3

In [6]:
frequent_items[(frequent_items["length"] == 2) & (frequent_items["support"] >= 0.8)]

   support                itemsets  length
9      0.8  (Kidney Beans, Yogurt)       2

In [7]:
rules = association_rules(frequent_items, metric="confidence", min_threshold=0.7)
rules

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction
0,(Eggs),(Kidney Beans),0.6,1.0,0.6,1.00,1.000000,0.00,inf
1,(Onion),(Eggs),0.6,0.6,0.6,1.00,1.666667,0.24,inf
2,(Eggs),(Onion),0.6,0.6,0.6,1.00,1.666667,0.24,inf
3,(Milk),(Kidney Beans),0.6,1.0,0.6,1.00,1.000000,0.00,inf
4,(Onion),(Kidney Beans),0.6,1.0,0.6,1.00,1.000000,0.00,inf
5,(Kidney Beans),(Yogurt),1.0,0.8,0.8,0.80,1.000000,0.00,1.0
6,(Yogurt),(Kidney Beans),0.8,1.0,0.8,1.00,1.000000,0.00,inf
7,(Milk),(Yogurt),0.6,0.8,0.6,1.00,1.250000,0.12,inf
8,(Yogurt),(Milk),0.8,0.6,0.6,0.75,1.250000,0.12,1.6
9,"(Onion, Kidney Beans)",(Eggs),0.6,0.6,0.6,1.00,1.666667,0.24,inf
10,"(Onion, Eggs)",(Kidney Beans),0.6,1.0,0.6,1.00,1.000000,0.00,inf
11,"(Kidney Beans, Eggs)",(Onion),0.6,0.6,0.6,1.00,1.666667,0.24,inf
12,(Onion),"(Kidney Beans, Eggs)",0.6,0.6,0.6,1.00,1.666667,0.24,inf
13,(Eggs),"(Onion, Kidney Beans)",0.6,0.6,0.6,1.00,1.666667,0.24,inf
14,"(Milk, Kidney Beans)",(Yogurt),0.6,0.8,0.6,1.00,1.250000,0.12,inf
15,"(Milk, Yogurt)",(Kidney Beans),0.6,1.0,0.6,1.00,1.000000,0.00,inf
16,"(Kidney Beans, Yogurt)",(Milk),0.8,0.6,0.6,0.75,1.250000,0.12,1.6
17,(Milk),"(Kidney Beans, Yogurt)",0.6,0.8,0.6,1.00,1.250000,0.12,inf
18,(Yogurt),"(Milk, Kidney Beans)",0.8,0.6,0.6,0.75,1.250000,0.12,1.6

In [8]:
rules["antecedent_len"] = rules["antecedents"].apply(lambda x: len(x))
rules

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction,antecedent_len
0,(Eggs),(Kidney Beans),0.6,1.0,0.6,1.00,1.000000,0.00,inf,1
1,(Onion),(Eggs),0.6,0.6,0.6,1.00,1.666667,0.24,inf,1
2,(Eggs),(Onion),0.6,0.6,0.6,1.00,1.666667,0.24,inf,1
3,(Milk),(Kidney Beans),0.6,1.0,0.6,1.00,1.000000,0.00,inf,1
4,(Onion),(Kidney Beans),0.6,1.0,0.6,1.00,1.000000,0.00,inf,1
5,(Kidney Beans),(Yogurt),1.0,0.8,0.8,0.80,1.000000,0.00,1.0,1
6,(Yogurt),(Kidney Beans),0.8,1.0,0.8,1.00,1.000000,0.00,inf,1
7,(Milk),(Yogurt),0.6,0.8,0.6,1.00,1.250000,0.12,inf,1
8,(Yogurt),(Milk),0.8,0.6,0.6,0.75,1.250000,0.12,1.6,1
9,"(Onion, Kidney Beans)",(Eggs),0.6,0.6,0.6,1.00,1.666667,0.24,inf,2
10,"(Onion, Eggs)",(Kidney Beans),0.6,1.0,0.6,1.00,1.000000,0.00,inf,2
11,"(Kidney Beans, Eggs)",(Onion),0.6,0.6,0.6,1.00,1.666667,0.24,inf,2
12,(Onion),"(Kidney Beans, Eggs)",0.6,0.6,0.6,1.00,1.666667,0.24,inf,1
13,(Eggs),"(Onion, Kidney Beans)",0.6,0.6,0.6,1.00,1.666667,0.24,inf,1
14,"(Milk, Kidney Beans)",(Yogurt),0.6,0.8,0.6,1.00,1.250000,0.12,inf,2
15,"(Milk, Yogurt)",(Kidney Beans),0.6,1.0,0.6,1.00,1.000000,0.00,inf,2
16,"(Kidney Beans, Yogurt)",(Milk),0.8,0.6,0.6,0.75,1.250000,0.12,1.6,2
17,(Milk),"(Kidney Beans, Yogurt)",0.6,0.8,0.6,1.00,1.250000,0.12,inf,1
18,(Yogurt),"(Milk, Kidney Beans)",0.8,0.6,0.6,0.75,1.250000,0.12,1.6,1

In [9]:
rules[
    (rules["antecedent_len"] >= 2)
    & (rules["confidence"] > 0.75)
    & (rules["lift"] > 1.2)
]

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction,antecedent_len
9,"(Onion, Kidney Beans)",(Eggs),0.6,0.6,0.6,1.0,1.666667,0.24,inf,2
11,"(Kidney Beans, Eggs)",(Onion),0.6,0.6,0.6,1.0,1.666667,0.24,inf,2
14,"(Milk, Kidney Beans)",(Yogurt),0.6,0.8,0.6,1.0,1.250000,0.12,inf,2

In [10]:
rules[rules["antecedents"] == {f"Eggs", "Kidney Beans"}]

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction,antecedent_len
11,"(Kidney Beans, Eggs)",(Onion),0.6,0.6,0.6,1.0,1.666667,0.24,inf,2